<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

<h1> 파이어 메세지</h1>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-messaging.js"></script>
<script>
    // Initialize Firebase
    let config = {
        apiKey: "AIzaSyBPF-SSd43xy_ags3mfNHMpkqpaKDaghFg",
        authDomain: "smartbell-alarm.firebaseapp.com",
        databaseURL: "https://smartbell-alarm.firebaseio.com",
        projectId: "smartbell-alarm",
        storageBucket: "smartbell-alarm.appspot.com",
        messagingSenderId: "1000310889464",
        appId: "1:1000310889464:web:166713d00d77f315fd540d"
    };
    firebase.initializeApp(config);

    const messaging = firebase.messaging();

    //token값 알아내기
    messaging.requestPermission()
        .then(function(){
            console.log("Have permission");
            return messaging.getToken();
        })
        .then(function(token){
            console.log(`token is ${token}`);

            messaging.onMessage(payload => {
                console.log(payload);
            })
        })
        .catch(function(arr){
            console.log("Error Occured");
        });


</script>

</body>
</html>
