<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css"/>

   <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap" rel="stylesheet">


    <style type="text/css">
        table {
            margin: auto;
            text-align: center;
            vertical-align: middle;
        }

        td{
            vertical-align: middle;
        }

        #orderSubmit {
            margin: 40px 0px 20px 0px;
            text-align: center;
            vertical-align: middle;
        }

        table, a{
            font-family: 'Gothic A1', sans-serif;
        }
        th{
            font-size: 18px;
            font-weight: bold;
        }

    </style>


    <script src="../orderStatusTable.js"></script>

    <title>ORDER STATUS</title>
</head>


<body style="margin-top: 17vh">
<script type="text/javascript">orderStatus()</script>

<div class="container card border-primary mb-3 container" style="height: auto; width: 70%; border:3px solid grey"/>
    <div class="header">
        <a href="/" style="text-decoration: none;"><h3>Order Status</h3></a>
    </div>
    <br>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr align = center>
            <th>주문번호</th>
            <th>주문일자</th>
            <th>주문금액</th>
            <th>주문상태</th>
            <th>상태변경</th>
        </tr>
        </thead>

        <tbody id="orderStatusTable">
        </tbody>
    </table>
<div id="orderSubmit">
    <a href="/" class="btn btn-primary" role="button" >확인</a>
</div>
</div> <!-- /container -->


</body>
</html>