<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap" rel="stylesheet">

    <style type="text/css">
        table {
            margin: auto;
            text-align: center;
            vertical-align: middle;
        }

        #orderSubmit {
            margin: 40px 0px 20px 0px;
            text-align: center;
            vertical-align: middle;
        }

        table, a{
            font-family: 'Gothic A1', sans-serif;
        }
        th{
            font-size: 20px;
            font-weight: bold;
        }

        button {
            margin: 0px 10px 0px 10px;
        }
    </style>


    <script src="../../orderList.js"></script>
    <title>ORDER LIST</title>

</head>


<body style="margin-top: 17vh">
    <script type="text/javascript">
        let url = window.location.pathname;       //현재 url주소
        let orderId = url.split('/');
        orderList(orderId[2]);
</script>


    <div class="container card border-primary mb-3 container" style="height: auto; width: 70%; border:3px solid grey"/>
    <div class="header">
        <a href="/" style="text-decoration: none;"><h3>Order Confirmation</h3></a>
    </div>


    <table class="table table-hover">
        <thead class="thead-light">
        <tr class="table-info">
            <th>음료</th>
            <th>Hot/Cold</th>
            <th>Size</th>
            <th>수량</th>
        </tr>
        </thead>
        <tbody id="beverageOrderListTable">
        </tbody>
    </table>

    <table class="table table-hover">
        <thead class="thead-light">
        <tr class="table-info">
            <th>푸드</th>
            <th>수량</th>
        </tr>
        </thead>
        <tbody id="foodOrderListTable">
        </tbody>
    </table>
    <div id="orderSubmit">
        <button class="btn btn-danger" onclick="cancelOrder()">주문취소</button>
        <button class="btn btn-info" onclick="enrollOrder()">주문완료</button>
    </div>
</div> <!-- /container -->

</body>
</html>