<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <style>
        div {
            text-align: center;
        }
        h1 {
            padding: 30px 0px 30px 0px;
        }
        img {
            width: 500px;
            height: 500px;
            border: #1a1e21;
            border-style: solid;
            border-radius: 30px;
            border-width: 10px;
        }

        .imgDiv {

        }
    </style>
    <title>Think Of Bell</title>
</head>
<body>
<div>
    <h1>주문 확인을 위해 QR코드를 인식해주세요.</h1>
</div>

<div class="imgDiv">
    <img src="/img/qrcode.png">
<!--    <img src="/images/qrcode.png">-->
</div>
<!--<img src="file:///home/ubuntu/qr/qrcode.png">-->

</body>
</html>
