<!DOCTYPE html>
<html>
<head id="noti">

  <script type="text/javascript">
    function showNotification(){
      const notification = new Notification("New message from dcode!", {
        body: "hey mate, how are ya?"
      });


      notification.onclick = (e) => {
        window.location.href = "https://google.com";
      };
    }

    //default, granted, denied
    console.log(Notification.permission);

    if(Notification.permission ==="granted"){
      showNotification();

    } else if (Notification.permission !== "denied"){
      Notification.requestPermission().then(permission => {
          showNotification();
      })
    }
  </script>

</head>

<body>
test

</body>
</html>
