<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../userRate.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/stylesRate.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap" rel="stylesheet">

    <title>Think Of Bell</title>
</head>
<body>
<script>
    let url = window.location.pathname;
    let id = url.split('/');
    userRate(id[2]);
</script>

<div style="color:white; text-align:center; transform:translateY(15%);">
    <h1 style="font-size: 100px;text-align:center; margin: 0px 0px 100px 0px; font-family: 'Gothic A1', sans-serif;">
        Think Of Bell
    </h1>
    <br>
    <div style="border:5px solid; padding:10px; width: 700px; height: auto; margin: 0 auto;">
        <h1 style="font-size: 50px; font-family: 'Gothic A1', sans-serif;">
            감사합니다 !<br><br>
            주문하신 메뉴가 나왔습니다
        </h1>
    </div>

    <br>
    <div style="border:5px solid; padding:10px; width: 700px; height: auto; margin: 0 auto;">
        <h1 style="font-size: 50px; font-family: 'Gothic A1', sans-serif;">
            별점을 매겨주세요 !
        </h1>

        <div id="orderItemLength"></div>
        <div style="font-size: 40px; text-align:center;">
            <table id="orderListTable">
                <thead>
                <tr>
                    <th colspan="2">상품</th>
                    <th> bad &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp good</th>
                </tr>
                </thead>

                <tbody id="orderListTbody"></tbody>

                <tfoot>
                <tr>
                    <td colspan="3">
                        <br>
                        <div class="wrap">
                            <button id="submitRate" class="button" onclick="submitRate(); window.open('https://m.naver.com', '_self').window.close();">종료</button>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <br><br>
    </div>
</div>
</body>
</html>
