<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal</title>
    <script src="../../modal.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/modal.css">

</head>

<body>
<div class="modal-container show" id="modal_container">
    <div class="modal">
        <h1>Modals are test</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci assumenda ducimus enim error esse est, facilis illum in ipsa laboriosam maiores natus omnis pariatur quas sequi tempore? Iure, quia.
        </p>
        <button id="close">
            close me
        </button>
    </div>
</div>

    <div id="lb-audio">
        <audio controls autoplay loop muted id="player">
            <source src="/audios/alarmSound1.mp3" type="audio/mp3">
        </audio>
    </div>


    <br><br><br>
    <span class="tempBy">All Rights Reserved. '벨에 대한 고민. think of bell.'</span>
</div>
<div id="overlay"></div>

</body>
</html>