<!--
Theme by: WebThemez.com
Title: Vinto Page under construction!!!
Note: Please use our back link in your site (webthemez.com)
-->
<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Think Of Bell</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

    </style>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/userMain/backstretch.min.js"></script>

    <script src="../../userMain.js"></script>
    <script src="../../modal.js"></script>


    <meta name="description" content="Ace Page under construction">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/stylesMain.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
</head>

<div class="modal-container show" id="modal_container" >
    <div class="modal" style="vertical-align: 40vh">
        <div style="height: 7vh">
            <p id="modalContent1" style=" font-size: 45px; font-weight: 800; margin-bottom: 25px">
                주문해주셔서 감사합니다.
            </p>
            <p id="modalContent2" style=" font-size: 30px; font-weight: bold">
                알림이 울리면 상품을 수령하시기 바랍니다.
            </p>
        </div>
        <button id="close" style="font-size: 30px; font-weight: bold; padding: 25px 40px;">
            확인
        </button>
    </div>
</div>
<body id="home">



<script>
    let url = window.location.pathname;
    let id = url.split('/');
    userMain(id[2]);


    //대기인원 최신화
    userMainWait(id[2]);
    setInterval( ()=>userMainWait(id[2]), 5000);
</script>


<div id="Header">
    <div class="wrapper">
        <h1 class="title" style="font-size: 100px;">
            Think Of Bell
        </h1>
    </div>
</div>



<div id="Content" class="wrapper">
    <h2 style="color:white; font-size: 60px; ">
        감사합니다 고객님 !
    </h2>
    <h2 style="color:white; font-size: 40px; ">
        주문하신 메뉴를 만드는 중입니다
    </h2>
    <div style="border:5px solid; padding:30px; ">
        <h1 style="font-size: 50px;">주 문 번 호</h1>
        <p align="center"; style="font-size: 130px; ">
            <B id="orderNumber"></B>
        </p>
    </div>
    <br><br><br>
    <div style="border:5px solid; padding:30px;">
        <h1 style="font-size: 50px; ">대 기 인 원 / 팀</h1>
        <p align="center"; style="font-size: 130px; ">
            <b id="wait"></b>
        </p>
    </div>
    <br><br><br>
    <div style="border:5px solid; padding:30px;">
        <h1 class="orderItem" style="font-size: 50px;">주 문 상 품</h1>
        <table class="table table-hover">
            <tbody id="orderListTable">
            </tbody>
        </table>
        <br>

    </div>

    <div id="lb-audio" style="display: none">
        <audio controls autoplay loop muted id="player">
            <source src="/audios/alarmSound2.mp3" type="audio/mp3">
        </audio>
    </div>


    <br><br><br>
    <span class="tempBy">All Rights Reserved. '벨에 대한 고민. think of bell.'</span>
</div>
</div>
<div id="overlay"></div>


</body>
</html>