<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="벨에 대한 고민. Think Of Bell">
    <meta property="og:description" content="카페 주문 관리 페이지">
    <meta property="og:image" content="/images/coffee.jpeg">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <!-- Bootstrap CDN -->

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap" rel="stylesheet">


    <style>
        a, p {
            font-family: 'Gothic A1', sans-serif;
        }

        .btn {
            margin:0 10px 0 10px;
        }

    </style>

    <script src="../order.js"></script>
    <title>Think Of Bell</title>
</head>
<body style="margin-top: 17vh">
<div  class="card border-primary mb-3 container" style="height: auto; width: 70%; border:3px solid grey">
    <div class="jumbotron">
        <h1 style="font-size: 70px">THINK OF BELL</h1>
        <h4 class="text-muted" style="margin-bottom: 7vh">Alarm service actualized by cellphone</h4>

        <p style="font-size: 25px" class="lead">등록 기능</p>
        <p style="margin-bottom: 5vh">
            <a class="btn btn-success" href="/items/newBeverage">음료 등록</a>
            <a class="btn btn-success" href="/items/newFood">푸드 등록</a>
            <a class="btn btn-success" href="/items">상품 목록</a>
        </p>
        <p style="font-size: 25px" class="lead">주문 기능</p>
        <p>
            <a class="btn btn-success" href="/order" onclick="createOrderId()">주문</a>
            <a class="btn btn-success" href="/orderStatusTable">주문 현황</a>
        </p>
    </div>
</div>
</body>
</html>