<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="벨에 대한 고민. Think Of Bell">
    <meta property="og:description" content="카페 주문 관리 페이지">
    <meta property="og:image" content="/images/coffee.jpeg">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <!-- Bootstrap CDN -->

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap" rel="stylesheet">


    <style>
        * {
            font-family: 'Gothic A1', sans-serif;
        }
    </style>

    <script src="../order.js"></script>
    <title>Think Of Bell</title>
</head>
<body>
<div class="container" style="height: auto; width: 100%; border:2px solid grey">
    <div class="jumbotron">
        <h1>THINK OF BELL</h1>
        <h4>진동벨에 대한 관점을 바꾸다</h4>
        <p class="lead">등록 기능</p>
        <p>
            <a class="btn btn-lg btn-outline-info" href="/items/newBeverage">음료 등록</a>
            <a class="btn btn-lg btn-outline-info" href="/items/newFood">푸드 등록</a>
            <a class="btn btn-lg btn-outline-info" href="/items">상품 목록</a>
        </p>
        <p class="lead">주문 기능</p>
        <p>
            <a class="btn btn-lg btn-outline-success" href="/order" onclick="createOrderId()">주문</a>
            <a class="btn btn-lg btn-outline-success" href="/orderStatusTable">주문 현황</a>
        </p>
    </div>
</div>
</body>
</html>