<!DOCTYPE HTML>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
    ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="/css/jumbotron-narrow.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap" rel="stylesheet">

  <style type="text/css">
    #submit {
      margin: 40px 0px 0px 0px;
      text-align: center;
      vertical-align: middle;
    }

    h5, input, button{
      font-family: 'Gothic A1', sans-serif;
    }

    .form-group {
      margin-bottom: 5vh;
    }
  </style>

  <script src="../createF.js"></script>

  <title>Think Of Bell</title>
</head>
<body style="margin-top: 17vh">
<div class="container card border-primary mb-3 container" style="height: auto; width: 70%; border:3px solid grey"/>
<div class="header">
  <a href="/" style="text-decoration: none;"><h3>Food</h3></a>
</div>

  <form>
    <div class="form-group">
      <label><h5>상품명</h5></label>
      <input type="text"  class="form-control" id="foodName"
             placeholder="이름을 입력하세요">
    </div>
    </p>
    <div class="form-group">
      <label th:for="price"><h5>가격</h5></label>
      <input type="number" class="form-control" id="foodPrice"
             placeholder="가격을 입력하세요">
    </div>
    </p>
    <div class="form-group">
      <label><h5>질량</h5></label>
      <input type="text" class="form-control" id="foodGram" placeholder="질량을 입력하세요">
    </div>
    </p>
    <div class="form-group">
      <label for="formFile" ><h5>상품 사진</h5></label>
      <input type="file" class="form-control" id="formFile">
    </div>
    <p>
    <p>
    <div id="submit">
      <button type="submit" class="btn btn-primary" onclick="createF()">등록</button>
  </div>
    <p></p>
    <p></p>
  </form>
</div> <!-- /container -->
</body>
</html>