<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <!-- Custom styles for this template -->
  <link href="/css/jumbotron-narrow.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@600&display=swap" rel="stylesheet">

  <style type="text/css">
    table {
      text-align: center;
      vertical-align: middle;
    }

    #orderSubmit {
      margin: 40px 0px 20px 0px;
      text-align: center;
      vertical-align: middle;
    }

    table, a{
      font-family: 'Gothic A1', sans-serif;
    }

    th {
      font-size: 20px;
      font-weight: bold;
    }
  </style>

  <script src="../list.js"></script>
  <title>THINK OF BELL</title>

</head>


<body style="margin-top: 17vh">
<script type="text/javascript">list()</script>

<div  class="card border-primary mb-3 container" style="height: auto; width: 70%; border:3px solid grey">
  <div class="header">
    <a style="text-decoration: none" href="/"><h3>Menu List</h3></a>
  </div>

    <table class="table table-hover">
      <thead class="thead-light">
      <tr class="table-info">
        <th>음료</th>
        <th>상품명</th>
        <th>가격</th>
        <th>사이즈업</th>
        <th></th>
      </tr>
      </thead>
      <tbody id="beverageTable">
      </tbody>
    </table>


  <table class="table table-hover">
    <thead class="thead-light">
      <tr class="table-info">
        <th>푸드</th>
        <th>상품명</th>
        <th>가격</th>
        <th>질량</th>
        <th></th>
      </tr>
      </thead>
      <tbody id="foodTable">
      </tbody>
    </table>
  <div id="orderSubmit">
    <a href="/" class="btn btn-primary" role="button" >확인</a>
  </div>
</div> <!-- /container -->
</body>
</html>